<!DOCTYPE html>
<html ng-app='ShoppingListApp'>

<head>
    <title>ShoppingList</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>

    <h4>SHOPPING LIST</h4>

    <!-- list 1 with unlimited items -->
    <div ng-controller="shoppingListController as list">
        <input type="text" ng-model="list.itemName" placeholder="item name">
        <br>
        <br>
        <input type="text" ng-model="list.itemPrice" placeholder="item price">
        <br>
        <button ng-click="list.addItem()">ADD TO LIST</button>

        <ul>
            <li ng-repeat="item in list.items">{{item.name}} : {{item.price}}
                <button ng-click="list.removeItem($index)">remove item</button>
            </li>

        </ul>

    </div>

</body>

</html>